.formControl.error input, .formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    color: tomato;
    border: 2px solid tomato;
    padding: 5px;
}