.users {
   padding: 10px;
}

.users figure {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 10px;

}

.users figure img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
}

.users a {
   text-decoration: none;
   display: flex;
   align-items: center;
}

.active {
   color: gold;
}