.header {
	grid-area: header;
	padding: 10px;
	display: grid;
	align-items: center;
	background-color: cornflowerblue;
	display: flex;
	justify-content: space-between;
}

.header img {
	width: 45px;
}

.loginBlock {
	
}