body {
	padding: 20px;
}

ul {
	list-style: none;
}

.app-wrapper {
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-template-columns: 200px 1000px;
	gap: 10px 10px;
	grid-template-areas:
		"header header"
		"nav content";
	justify-content: center;
}

.app-wrapper-content {
	grid-area: content;
	background-color: cornflowerblue;
}

.app-wrapper-content figure {
	width: 100%;
   height: 300px;
   margin: 0;
}

.app-wrapper-content figure img {
	width: 100%;
   height: 100%;
   object-fit: cover;
	display: block;
}